table {
    align-items: center;
    margin: auto;
    background-color: rgb(111, 149, 231);
    padding: 1%;
    border-radius: 8%;
    box-shadow: 7px 7px 10px gray;
    border-left: solid 1px rgb(191, 207, 243);
    border-right: solid 2px rgb(75, 124, 240);
}

#ecran {
    width: 116px;
    height: 20px;
    text-align: end;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin: auto;  
    padding: 3%;
    background-color: gray;
    
    border-radius: 5%;
    padding-bottom: 5%;
    border-top: solid 2px rgb(216, 203, 203);
    border-left: solid 2px rgb(216, 203, 203);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

tr {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}

.reset input{
    background-color: red;
    color: whitesmoke;
    border-radius: 8%;
    border-left: solid 2px rgb(247, 110, 110);
    border-top: solid 2px rgb(247, 110, 110);
    border-right: solid 2px rgb(197, 32, 32);
    border-bottom: solid 2px rgb(197, 32, 32);
    width: 60px;
}

.delete input {
    width: 60px;
    background-color: rgb(243, 209, 58);
    border-radius: 8%;
    border-left: solid 2px rgb(246, 248, 148);
    border-top: solid 2px rgb(246, 248, 148);
    border-right: solid 2px rgb(200, 202, 62);
    border-bottom: solid 2px rgb(200, 202, 62);
}

input {
    align-items: center;
    width: 30px;
}

.add input,.sous input,.mul input,.div input{
    background-color: rgb(8, 23, 160);
    color: whitesmoke;
    border-radius: 8%;
    align-items: center;
    border: none;
    padding: 10% 0 10% 0;
}



